.component {
    width: 400px;
    margin:50px auto;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 
                0px 4px 6px rgba(0, 0, 0, 0.05), 
                0px -3px 5px rgba(0, 0, 0, 0.03);
}

.image {
    width: 400px;
    margin: auto; 
    display: flex;
}

.wrapper {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.wrapper > div,
.wrapper > button,
.wrapper > p {
    margin-top: 20px;
}

.typo {
    text-align: center;
    color: #878787;
}

.error-typo{
    font-size: 10px;
    color: #ff6161;
    line-height: 0;
    margin-top: 10px;
    font-weight: 600;
}

.login-button {
    text-transform: none !important;
    background-color: #FB641B !important;
    height: 48px !important;
    color: #fff !important; 
    font-size: 16px !important;
    border-radius: 2px !important;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.login-button:hover, .signup-button:hover {
    transform: scale(1.01) !important;
}

.signup-button {
    text-transform: none !important;
    background-color: #ffffff !important;
    color: #FB641B !important;
    height: 48px !important; 
    font-size: 16px !important;
    border-radius: 2px !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3) !important;
}